.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Recipes {
  text-align: left;
  margin-top: 5%;
  width: 400px;
}
.Recipes h2 {
  text-align: center;
}

.App-header {
  background-color: #333;
  height: 130px;
  padding: 20px;
  color: white;
  width: 100%;
}
