body {
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  border-radius: 80px;
  background: #1B1D1C;
  max-width: 350px;
  max-height: 350px;
  margin: 10% auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.flexRow {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.square {
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(150, 200, 150, 0.1), 0 4px 8px rgba(150, 250, 150, 0.1);
  width: 100px;
  height: 100px;
  margin: 20px;
}

.square.green {
  background-color: #1FDE91;
}
.square.green:active {
    background-color: green;
}
.square.green.activated {
  background-color: green;
}

.square.red {
  background-color: #D31B33;
}
.square.red:active {
    background-color: red;
}
.square.red.activated {
  background-color: red;
}

.square.yellow {
  background-color: #FDF06F;
}
.square.yellow:active {
    background-color: yellow;
}
.square.yellow.activated {
  background-color: yellow;
}

.square.blue {
  background-color: #2A4ED1;
}
.square.blue:active {
    background-color: blue;
}
.square.blue.activated {
  background-color: blue;
}
