.stats {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: center;
}

.grid {
  overflow: hidden;
}

.gridBorder {
   border: 7px solid #01172F;
   border-radius: 10px;
   background: #01172F;
 }

 .square {
   width: 10px;
   height: 10px;
   float:left;
 }

.player {
  background: white;
  border-radius: 50%;
}

.wall {
  background: #274690;
}

.openSpace {
  /*background: #2E6171;*/
}

.monster {
  background: #F26430;
}

.weapon {
  background: #4C212A;
}

.health {
  background: green;
}

.door {
  background: #01172F;
}

/*Greenish #2E6171*/
/*Tomato like #F26430*/
/*Light Blue #274690*/
/*Dark Blue #01172F*/
/*Brown #4C212A*/
