.App {
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.flexContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.flexRow {
  display: flex;
  justify-content: space-around;
  line-height: 30px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #3A745F;
  border: none;
  border-radius: 4px;
  height: 30px;
  min-width: 30px;
}
