.calc {
  display: flex;
  flex-direction: column;
  padding: 1em 3em 0 3em;
  width: 400px;
}

.flexRow {
  display: flex;
}

.num {
  flex: 1;
  margin: .2em;
  background-color: #5BC8E5;
  font-weight: 600;
  border-radius: 6px;
  border: 0px solid;
  height: 3em;
  line-height: 3em;
}

.num.red {
  background-color: #D31B33;
}

.answer {
  flex: 1;
  font-size: 2em;
  padding: .3em;
  margin: .2em;
  background-color: #EBE8E1;
  border-radius: 2px;
  border: 1px solid;
}

.operation {
  flex: 1;
  padding: .5em;
  margin: .2em;
  background-color: #EBE8E1;
  border-radius: 2px;
  border: 1px solid;
}
